---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Timeline from "../components/Timeline.astro";
import logo from "../assets/logo.png";
import SectionContainer from "../components/SectionContainer.astro";
import Image from "astro/components/Image.astro";
---

<Layout
    title="Niconacho's portfolio - Web Developer and Programmer with 8 years of experience"
    description="Hire Niconacho, a web developer and programmer with 8 years of experience. Available to work. From Valparaíso, Chile."
>
    <main class="w-full flex items-center xl:items-end flex-col p-8">
        <section class="xl:w-fit xl:p-8 xl:fixed xl:bottom-0 xl:left-0">
            <div
                class="flex flex-row items-center justify-between gap-x-6 shadow-lg nice-shadow rounded-xl border-2 border-black p-8 bg-[#FCD7D7]"
            >
                <div class="flex flex-col items-center">
                    <div
                        class="mb-4 lg:mx-0 rounded-xl size-28 shadow-lg nice-shadow border-2 border-black overflow-hidden"
                    >
                        <Image width="112" height="112" src={logo} alt="Niconacho logo" />
                    </div>
                    <h1 class="text-xl xl:text-3xl font-extrabold pb-3">@Niconacho</h1>
                </div>
                <h2 class="text-xl xl:text-2xl xl:text-balance xl:text-left text-center">
                    <span>+7 years of experience.</span>
                    <br />
                    <span class="text-blue-400"> Frontend Developer.</span>
                    <br />
                    <span class="text-[#FF6B6B]"> From Valparaíso, Chile.</span>
                </h2>
            </div>

            <nav class="flex lg:flex-row justify-center gap-6 mt-8 flex-col">
                <SocialPill href="https://www.linkedin.com/in/niconacho/">
                    <LinkedInIcon class="size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://www.github.com/niconachoo">
                    <GithubIcon class="size-6" />
                    GitHub
                </SocialPill>
                <SocialPill href="mailto:nico.torres.lopez@gmail.com">
                    <MailIcon class="size-6" />
                    Contact me
                </SocialPill>
            </nav>
        </section>
        <SectionContainer id="experience" title="Experience">
            <Timeline />
        </SectionContainer>
        <SectionContainer id="about" class="xl:mb-[104px] mb-6" title="About me">
            <div
                class="opacity-80 mt-2 rounded-xl shadow-lg nice-shadow border-2 border-black p-8 bg-[#FCD7D7]"
            >
                <p class="text-pretty mb-4">
                    Hey, I'm <span class="font-extrabold">Nicolás Ignacio Torres López</span> 👋 I'm
                    a software developer based in the vibrant Valparaíso, Chile 🇨🇱. For over 7 years,
                    I've been immersed in the world of software development 💻, focusing on building
                    web apps and APIs, both frontend and backend, using a variety of modern tech and
                    frameworks.
                </p>
                <p class="text-pretty mb-4">
                    Throughout my career, I've contributed to diverse projects at reputable
                    companies 🏢, gaining hands-on experience with tools like React, PHP (Laravel,
                    Yii, Zend), Ruby on Rails, Docker, PostgreSQL, and more. I also collaborate on
                    UX/UI design using Figma and keep projects on track with platforms like Jira,
                    Trello, and Shortcut.
                </p>
                <p class="text-pretty mb-4">
                    As a professional, I value honesty, responsibility, and a constant drive to
                    learn ✨. I communicate directly and am highly motivated to solve problems 💪,
                    always striving to deliver impactful solutions that meet both user and business
                    needs.
                </p>
                <p class="text-pretty mb-4">
                    I hold a Computer Science degree from Universidad Técnica Federico Santa María
                    🎓, and I've also enjoyed being a Teaching Assistant for software development
                    and programming languages courses.
                </p>
                <p class="text-pretty mb-4">
                    I'm fluent in Spanish (native) 🗣️ and proficient in English (B2 level), which
                    allows me to collaborate effectively with international teams.
                </p>
                <p class="text-pretty mb-4">
                    When I'm not coding, I enjoy activities that challenge me physically and
                    mentally. I was the goalkeeper for my college handball team for four years 🥅.
                    My academic thesis focused on educational psychology, reflecting my passion for
                    leveraging technology in learning and development 🧠.
                </p>
            </div>
        </SectionContainer>
        <p class="text-xl xl:text-right text-center">
            Let’s connect and work together on innovative projects that make a difference!
        </p>
    </main>
</Layout>
