---
const { title, id, Icon, class: className } = Astro.props;
---

<section
    id={id}
    class={`h-full mx-8 xl:mr-20 lg:w-1/3 pb-20 xl:pb-10 flex justify-end flex-col ${className}`}
>
    <h2
        class="xl:sticky xl:top-0 xl:z-20 text-4xl mb-6 pt-2 font-semibold flex gap-x-2 justify-end items-center"
    >
        {title}
        <Icon class="size-8" />
    </h2>
    <slot />
</section>
