---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>

<style>
    html {
        font-family: "Public Sans", sans-serif;
        scroll-behavior: smooth;
        font-weight: bold;
        background: repeating-linear-gradient(
            45deg,
            #fcd2d2 0,
            #fcd2d2 10px,
            #fcd7d7 10px,
            #fcd7d7 20px
        );
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }
    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>
